### ALL ignore ###
/*
/.**

### not ignore ###
!/Makefile
!/bin/
!/bin/**
!/zshrc
!/zshenv
!/starship.toml
!/zsh/
!/zsh/**
!/nvim/
!/nvim/**
/nvim/plugin/
!/tmux.conf
!/smug/
!/smug/**
!/wezterm/
!/wezterm/**

!/README.md
!/LICENSE
!/.gitignore
!/gitconfig
!/tool-versions
!.keep

