### ALL ignore ###
/*
/.**

### not ignore ###
!/Makefile
!/base16_sonokai
!/colors/
!/colors/**
!/bin/
!/bin/**
!/zshrc
!/zshenv
!/starship.toml
!/zsh/
!/zsh/**
!/Microsoft.Powershell_profile.ps1
!/powershell/
!/powershell/**
!/nvim/
!/nvim/**
!/lazyvim/
!/lazyvim/**
!/denovim/
!/denovim/**
/nvim/plugin/
/nvim/lazy-lock.json
/lazyvim/lazy-lock.json
!/tmux.conf
!/wezterm/
!/wezterm/**
!/lazygit/
!/lazygit/config.yml
/lazygit/state.yml

!/README.md
!/LICENSE
!/.gitignore
!/gitconfig
!/tool-versions
!.keep

