### ALL ignore ###
/*
/.**

### not ignore ###
!/README.md
!/LICENSE
!/installer.sh

!/gitconfig
!/.gitignore
!/.github/
!/.github/**
!.keep
!/.editorconfig

!/rtx/
!/rtx/**
!/bin/
!/bin/**
!/zshrc
!/zshenv
!/starship.toml
!/zsh/
!/zsh/**
!/sheldon/
!/sheldon/**
!/nvim/
!/nvim/**
!/stylua.toml
!/xremap/
!/xremap/**
!/systemd/
!/systemd/**
/systemd/user/default.target.wants/
/systemd/user/sockets.target.wants/
!/tmux.conf
!/rofi/
!/rofi/**
!/wezterm/
!/wezterm/**
!/aqua/
!/aqua/**
!/fish/
!/fish/**
/fish/conf.d/
/fish/completions/
/fish/functions/
/fish/themes/
/fish/fish_variables
