[Unit]
Description=Key remapper for X11 and Wayland

[Service]
KillMode=process
ExecStart=/usr/bin/xremap /home/natai/.config/xremap/config.yml
ExecStop=/usr/bin/killall xremap
Restart=always

[Install]
WantedBy=default.target
