@define-color base   #303446;
@define-color mantle #292c3c;
@define-color blue   #8caaee;

* {
  font-family: UDEV Gothic 35NF;
  font-size: 16px;
  color: @text;
}

window {
  margin: 0px;
  border-radius: 5px;
  border: 1px solid @blue;
  background-color: @base;
  box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3),
    0px 15px 12px rgba(0, 0, 0, 0.22);
}

#input {
  margin: 10px;
  padding: 10px;
  border: none;
  background-color: @mantle;
}

#inner-box {
  margin: 5px;
}

#outer-box {
  margin: 5px;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
}

#entry {
  margin: 5px;
}

#entry:selected {
  background-color: @mantle;
  border: none;
}

#selected #text {
  /*color: @fg_color;*/
}

/* #img */

/* #unselected */
